In [31]:
import numpy as np
import pandas as pd
import math

In [32]:
df= pd.read_csv("/Users/kushal/Downloads/thyroid0387.data",header=None, low_memory=False)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,29,F,f,f,f,f,f,f,f,t,...,f,?,f,?,f,?,f,?,other,-[840801013]
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,-[840801014]
2,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,-[840801042]
3,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,-[840803046]
4,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S[840803047]

In [33]:
df.shape

(9172, 30)

In [34]:
X = df.drop([5,29,28,17,19,23,25,27],axis=1)

In [35]:
X_new=X.replace('?',np.nan)
X_new

      0    1  2  3  4  6  7  8  9  10  ... 13 14 15 16 18 20   21 22 24 26
0     29    F  f  f  f  f  f  f  t  f  ...  f  f  f  t  f  f  NaN  f  f  f
1     29    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  128  f  f  f
2     41    F  f  f  f  f  f  f  f  t  ...  f  f  f  f  f  f  NaN  f  f  t
3     36    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  NaN  f  f  t
4     32    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  NaN  f  f  t
5     60    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  NaN  f  f  t
6     77    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  NaN  f  f  t
7     28    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  116  f  f  f
8     28    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t   76  f  f  f
9     28    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t   83  f  f  f
10    54    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  133  f  f  f
11    42    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  105  f  f  f
12    51    M  t  f  f  f  f  f  f  f  ...  f  f  f  t  f  f  NaN  f  f  f
13    51    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  116  f  f  f
14    37    F  f  f  f  f  f  f  f  f  ...  t  f  f  f  t  f  NaN  f  f  f
15    16    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  f  NaN  f  f  f
16    54    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  122  f  f  f
17    43    M  f  f  f  f  f  f  f  f  ...  f  f  f  f  t  t  116  f  f  f
18    63    F  t  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   48  t  t  f
19    36    F  f  f  f  f  f  f  t  t  ...  f  f  f  t  t  t   90  t  t  f
20    40    F  f  t  f  f  f  f  f  f  ...  f  f  f  f  f  t   79  t  t  f
21    40    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  104  t  t  f
22    40    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t   88  t  t  f
23    77    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  107  t  t  f
24    77  NaN  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  126  f  f  f
25    77    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  113  t  t  f
26    77    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  150  f  f  f
27    51    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t   93  t  t  f
28    75    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t  157  t  t  f
29    56    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  t  t   80  t  t  f
...   ..  ... .. .. .. .. .. .. .. ..  ... .. .. .. .. .. ..  ... .. .. ..
9142  15    F  f  f  f  f  f  f  f  t  ...  f  f  f  t  f  t   92  t  t  f
9143  48    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  104  t  t  f
9144  63    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   62  t  t  f
9145  80    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   94  t  t  f
9146  40    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  113  t  t  f
9147  16    M  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t  124  t  t  f
9148  35    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  NaN  f  f  f
9149  75    F  t  f  f  f  f  f  t  f  ...  f  f  f  t  f  t   54  t  t  f
9150  62    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   81  t  t  f
9151  84    F  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  105  t  t  f
9152  80    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  111  t  t  f
9153  64    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   31  t  t  f
9154  16    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  122  t  t  f
9155  54    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t  105  t  t  f
9156  78    M  f  f  f  f  f  f  f  f  ...  f  f  f  t  f  t   97  t  t  f
9157  60    M  f  f  t  f  f  f  f  f  ...  f  f  f  t  f  t   28  t  t  f
9158  64    M  f  f  f  f  f  f  t  f  ...  f  f  f  f  f  t   44  t  t  f
9159  72    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t  125  t  t  f
9160  72    F  f  f  f  f  f  f  f  t  ...  f  f  f  f  f  t   93  t  t  f
9161  46    F  f  f  f  f  f  f  f  f  ...  f  f  t  f  f  t   70  t  t  f
9162  36    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   84  t  t  f
9163  69    F  t  f  f  f  f  f  f  f  ...  t  f  f  f  f  t   94  t  t  f
9164  40    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   67  t  t  f
9165  33    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   76  t  t  f
9166  70    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   88  t  t  f
9167  56    M  f  f  f  f  f  f  f  t  ...  f  f  f  f  f  t   64  t  t  f
9168  22    M  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   91  t  t  f
9169  69    M  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t  113  t  t  f
9170  47    F  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  t   75  t  t  f
9171  31    M  f  f  f  f  f  f  t  f  ...  f  f  f  f  f  t   66  t  t  f

[9172 rows x 22 columns]

In [36]:
X_new.shape

(9172, 22)

In [37]:
X_new.isna().sum()

0       0
1     307
2       0
3       0
4       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
18      0
20      0
21    442
22      0
24      0
26      0
dtype: int64

In [38]:
X_new2= X_new.dropna()

In [39]:
X_new2.isna().sum()

0     0
1     0
2     0
3     0
4     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
18    0
20    0
21    0
22    0
24    0
26    0
dtype: int64

In [40]:
sick=df.iloc[:,5]

In [41]:
sick.shape

(9172,)

In [42]:
X_new2.columns = X_new2.columns.astype("str")

In [43]:
X_new3 =X_new2.rename(columns={"0":"AGE","1":"SEX","2":"ON THYROXINE","3":"QUERY ON THYROXINE",
                              "4":"ON ANTITHYROID MEDICATION","6":"PREGNENT","7":"THYROID SURGERY",
                              "8":"I131 TREATMENT","9": "QUERY HYPOTHYROID","10":"QUERY HYPERTHYROID",
                              "11":"LITHIUM","12":"GOITRE","13":"TUMOR","14":"HYPOPITUITARY","15":"PSYCH",
                              "16":"TSH MEASURED","18":"T3 MEASURED","20":"TT4 MEASURED","21":"TT4",
                              "22":"T4U","24":"FTI MEASURED","26":"TBG MEASURED"})

In [44]:
X_new3.columns

Index(['AGE', 'SEX', 'ON THYROXINE', 'QUERY ON THYROXINE',
       'ON ANTITHYROID MEDICATION', 'PREGNENT', 'THYROID SURGERY',
       'I131 TREATMENT', 'QUERY HYPOTHYROID', 'QUERY HYPERTHYROID', 'LITHIUM',
       'GOITRE', 'TUMOR', 'HYPOPITUITARY', 'PSYCH', 'TSH MEASURED',
       'T3 MEASURED', 'TT4 MEASURED', 'TT4', 'T4U', 'FTI MEASURED',
       'TBG MEASURED'],
      dtype='object')

In [45]:
X_new3['TT4'] = pd.to_numeric(X_new3['TT4'])

In [46]:
sick

0       f
1       f
2       f
3       f
4       f
5       f
6       f
7       f
8       f
9       f
10      f
11      f
12      f
13      f
14      f
15      f
16      f
17      f
18      t
19      f
20      f
21      f
22      f
23      f
24      f
25      f
26      f
27      f
28      f
29      f
       ..
9142    f
9143    f
9144    f
9145    f
9146    f
9147    f
9148    f
9149    f
9150    f
9151    f
9152    f
9153    f
9154    f
9155    f
9156    f
9157    f
9158    f
9159    f
9160    f
9161    f
9162    f
9163    f
9164    f
9165    f
9166    f
9167    f
9168    f
9169    f
9170    f
9171    f
Name: 5, Length: 9172, dtype: object

In [47]:
X_new4= pd.get_dummies(X_new3)

In [48]:
X_new4.columns

Index(['AGE', 'TT4', 'SEX_F', 'SEX_M', 'ON THYROXINE_f', 'ON THYROXINE_t',
       'QUERY ON THYROXINE_f', 'QUERY ON THYROXINE_t',
       'ON ANTITHYROID MEDICATION_f', 'ON ANTITHYROID MEDICATION_t',
       'PREGNENT_f', 'PREGNENT_t', 'THYROID SURGERY_f', 'THYROID SURGERY_t',
       'I131 TREATMENT_f', 'I131 TREATMENT_t', 'QUERY HYPOTHYROID_f',
       'QUERY HYPOTHYROID_t', 'QUERY HYPERTHYROID_f', 'QUERY HYPERTHYROID_t',
       'LITHIUM_f', 'LITHIUM_t', 'GOITRE_f', 'GOITRE_t', 'TUMOR_f', 'TUMOR_t',
       'HYPOPITUITARY_f', 'HYPOPITUITARY_t', 'PSYCH_f', 'PSYCH_t',
       'TSH MEASURED_f', 'TSH MEASURED_t', 'T3 MEASURED_f', 'T3 MEASURED_t',
       'TT4 MEASURED_t', 'T4U_f', 'T4U_t', 'FTI MEASURED_f', 'FTI MEASURED_t',
       'TBG MEASURED_f', 'TBG MEASURED_t'],
      dtype='object')

In [49]:
X_new4['sick'] = sick

In [50]:
X_new4.head()

,AGE,TT4,SEX_F,SEX_M,ON THYROXINE_f,ON THYROXINE_t,QUERY ON THYROXINE_f,QUERY ON THYROXINE_t,ON ANTITHYROID MEDICATION_f,ON ANTITHYROID MEDICATION_t,...,T3 MEASURED_f,T3 MEASURED_t,TT4 MEASURED_t,T4U_f,T4U_t,FTI MEASURED_f,FTI MEASURED_t,TBG MEASURED_f,TBG MEASURED_t,sick
1,29,128.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,f
7,28,116.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,f
8,28,76.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,f
9,28,83.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,f
10,54,133.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,f

In [51]:
def convert(x):
    if x == 'f':
        return 0
    elif x == 't':
        return 1
X_new4['sick_new']= X_new4['sick'].apply(lambda x : convert(x))

In [52]:
X_new4['sick_new'].unique()

array([0, 1])

In [53]:
X_new5= X_new4.drop('sick',axis=1)

In [54]:
X_new5.head()

,AGE,TT4,SEX_F,SEX_M,ON THYROXINE_f,ON THYROXINE_t,QUERY ON THYROXINE_f,QUERY ON THYROXINE_t,ON ANTITHYROID MEDICATION_f,ON ANTITHYROID MEDICATION_t,...,T3 MEASURED_f,T3 MEASURED_t,TT4 MEASURED_t,T4U_f,T4U_t,FTI MEASURED_f,FTI MEASURED_t,TBG MEASURED_f,TBG MEASURED_t,sick_new
1,29,128.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,0
7,28,116.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,0
8,28,76.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,0
9,28,83.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,0
10,54,133.0,1,0,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,0

In [55]:
df_thyroid_preds= X_new5[['AGE','TT4','SEX_F','SEX_M','ON THYROXINE_f','ON THYROXINE_t','T3 MEASURED_f','T3 MEASURED_t','FTI MEASURED_f',
                     'FTI MEASURED_t','sick_new']]
df_thyroid_preds.head()

,AGE,TT4,SEX_F,SEX_M,ON THYROXINE_f,ON THYROXINE_t,T3 MEASURED_f,T3 MEASURED_t,FTI MEASURED_f,FTI MEASURED_t,sick_new
1,29,128.0,1,0,1,0,0,1,1,0,0
7,28,116.0,1,0,1,0,0,1,1,0,0
8,28,76.0,1,0,1,0,0,1,1,0,0
9,28,83.0,1,0,1,0,0,1,1,0,0
10,54,133.0,1,0,1,0,0,1,1,0,0

In [56]:
X = df_thyroid_preds.drop('sick_new', axis =1)

In [57]:
y = df_thyroid_preds['sick_new']

In [75]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_validate
from sklearn.utils import shuffle

In [76]:
scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(X)

In [77]:
seed = 42
X, y = shuffle(X, y, random_state=seed)

In [78]:
def svc_model(X, y):
    gsc = GridSearchCV(
        estimator=SVC(kernel='rbf'),
        param_grid={
            'C': [0.1, 1, 100, 1000],
            'epsilon': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.05, 0.1, 0.5, 1, 5, 10],
            'gamma': [0.0001, 0.001, 0.005, 0.1, 1, 3, 5]
        },
        cv=5, scoring='neg_mean_squared_error', verbose=0, n_jobs=-1)

    grid_result = gsc.fit(X, y)
    best_params = grid_result.best_params_
    best_svr = SVR(kernel='rbf', C=best_params["C"], epsilon=best_params["epsilon"], gamma=best_params["gamma"],
                   coef0=0.1, shrinking=True,
                   tol=0.001, cache_size=200, verbose=False, max_iter=-1)

In [95]:
 scoring = {
               'abs_error': 'neg_mean_absolute_error',
               'squared_error': 'neg_mean_squared_error'}

    scores = cross_validate(best_svr, X, y, cv=10, scoring=scoring, return_train_score=True)

IndentationError: unexpected indent (<ipython-input-95-34772e9ef0ac>, line 5)

In [80]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer
scoring = {'accuracy': make_scorer(accuracy_score),
            'prec': 'precision'}

In [82]:
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_validate
from sklearn.svm import LinearSVC

In [84]:
svm = LinearSVC(random_state=0)
def tn(y_true, y_pred): return confusion_matrix(y_true, y_pred)[0, 0]
def fp(y_true, y_pred): return confusion_matrix(y_true, y_pred)[0, 1]
def fn(y_true, y_pred): return confusion_matrix(y_true, y_pred)[1, 0]
def tp(y_true, y_pred): return confusion_matrix(y_true, y_pred)[1, 1]
scoring = {'tp': make_scorer(tp), 'tn': make_scorer(tn),
            'fp': make_scorer(fp), 'fn': make_scorer(fn)}
cv_results = cross_validate(svm.fit(X, y), X, y, cv=5, scoring=scoring)

In [85]:
# Getting the test set true positive scores
print(cv_results['test_tp'])

[0 0 0 0 0]

In [87]:
# Getting the test set false negative scores
print(cv_results['test_fn'])

[64 64 64 63 63]